/* HAMBURGER */

.hamburger1 div {
    background-color: rgb(62, 62, 62);
    position: relative;
    width: 30px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#toggle1 {
    display: none;
}

#toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
       transform: rotate(-45deg);
    margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: auto;
}

/* MENU */

.menu1 {
    width: 100%;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px sans-serif;
    font-weight: lighter;
    color: rgb(95, 94, 94);
    border-bottom: 0.5px solid rgba(214, 214, 214, 0.569);
}

.link1:hover {
    background-color: rgba(236, 236, 236, 0.569);
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 500px) {
    .menu-media-q {
        display: block;
    }
}